[tool.poetry]
name = "wpt_tools"
version = "0.1.0"
description = ""
authors = ["t-sasatani <sasatani.dev@gmail.com>"]
license = "AGPL-3.0"
readme = "README.md"
packages = [{include = "wpt_tools"}]

[tool.poetry.dependencies]
python = ">=3.10,<=3.12"
numpy = "^1.24.2"
matplotlib = "^3.7.0"
scipy = "^1.12"
scikit-learn = "^1.2.1"
pillow = "^10.2.0"
scikit-rf = "^0.32.0"
pydantic = "^2.8.2"
toml = "^0.10.2"
pytest = "^8.2.2"

[tool.poetry.group.dev.dependencies]
ipykernel = "^6.26.0"
sphinx-rtd-theme = "^2.0.0"
sphinx = "^7.3.7"
myst-parser = "^3.0.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"


[tool.poetry.group.docs.dependencies]
sphinx-rtd-theme = "^2.0.0"
sphinx = "^7.3.7"
myst-parser = "^3.0.1"
